services:
  web:
    build: .
    ports:
      - "5000:5000"
    volumes:
      - .:/app
    environment:
      - FLASK_DEBUG=1
    depends_on:
      - mongo

  mongo:
    image: "mongo:8"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: