services:
  web:
    build: .
    ports:
      - "5000:5000"
    # mounted local folder so Flask reloads automatically when I edit files
    volumes:
      - .:/app
    # enabled debug mode for auto reload
    environment:
      - FLASK_DEBUG=1
    depends_on:
      - mongo

  mongo:
    image: "mongo:latest"
    volumes:
      - mongo_data:/data/db

volumes:
  mongo_data: